= form_for @cash_management, html: { class: "form-horizontal", role: "form" } do |f|
  -if @cash_management.errors.any?
    .alert.alert-danger.alert-dismissable{role: "alert"}
      %button.close{type: "button", data: {dismiss: "alert"} }
        %span{aria: {hidden: "true"} } &times;
        %span.sr-only Close
      %h4= "#{pluralize(@cash_management.errors.count, "error")} prohibited this cash_management from being saved:"

      %ul
        - @cash_management.errors.full_messages.each do |msg|
          %li= msg
  .form-group
    = f.label :company, class: 'col-sm-3 control-label'
    .col-sm-10
      = f.select :company_id, current_user.companies.map{ |cp| [cp.name, cp.id] }, {prompt: true}, :class => 'form-control', required: true
  .form-group
    = f.label :month, class: 'col-sm-3 control-label'
    .col-sm-10
      = f.select :entry_month, Date::MONTHNAMES[1..12], {prompt: true}, :class => 'form-control', required: true
  .form-group
    = f.label :initial_cash, class: 'col-sm-3 control-label'
    .col-sm-10
      = f.number_field :initial_cash, step: :any, class: 'form-control', required: true
  .form-group
    = f.label :cash_out, class: 'col-sm-3 control-label'
    .col-sm-10
      = f.number_field :cash_out, step: :any, class: 'form-control', required: true
  .form-group
    = f.label :cash_in, class: 'col-sm-3 control-label'
    .col-sm-10
      = f.number_field :cash_in, step: :any, class: 'form-control', required: true
  .form-group
    .col-sm-offset-2.col-sm-10
      = f.submit class: 'btn btn-primary'
